.textcen{
  text-align:center;
}
.titl{
  margin:60px 0px 0px 0px;
}
*{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.regbtn{
  margin:7px 0px 0px 0px;
  padding:7px 5px 5px 5px;
  background-color:#337ab7;
  color:#ffffff;
}
.imgcen{
  margin:10px 250px;
}
