.textcen{
  text-align:center;
}
.titl{
  margin:60px 0px 0px 0px;
}
*{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.regbtn{
  margin:7px 0px 0px 0px;
  padding:7px 5px 5px 5px;
  background-color:#337ab7;
  color:#ffffff;
}
.img1{
display:block;
padding:10px 0px;
margin:auto;
}
.padd10{
  padding:10px 0px;
}
.faq{
 color:#000;
}
.faq:hover{
 color:#000;
}
.faq:visited{
 color:#000;
}
.faq:active{
 color:#000;
}
.mainnav{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#fff;
  position:fixed;
}
.fright{
  float:right;
}
.mainnav li{
  display:block;
  color:#9d9d9d;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
.mainnav a:hover{
  color:#fff;
}
