.textcen{
  text-align:center;
}
.title{
  margin:55px 0px 0px 0px;
}
*{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.rpan, .lpan{
  background-color:#B0C4DE;
}
.mpan{
  background-color:#fff;
}
